__pycache__/
*.pyc
*.pyo
*.pyz
dist/
build/
*.egg-info/
*.egg
.venv/
venv/
env/
*.env
.ruff_cache/
.mypy_cache/
.pytest_cache/
__pypackages__/
*.whl
*.tar.gz
*.opip
*.opip.bak
*.opipd
.opip/
*.rsg
*.rsm
.coverage
htmlcov/
.DS_Store
